<div class="inner">
<ul class="links">
<volist name="adlist4" id="vo">
<li class="link"><a href="{$vo.url}" target="_blank">{$vo.name}</a></li> 
</volist>


<!--li class="link"><a href="?c=i&a=contact" target="_blank">联系方式</a></li> 
<li class="link"><a href="?c=i&a=about" target="_blank">关于我们</a></li>
<li class="link"><a href="?c=i&a=job" target="_blank">招贤纳士</a></li>
<li class="link"><a href="javascript:void(0)">服务条款</a></li>
<li class="link"><a href="#" target="_blank">使用帮助</a></li>
<li class="link"><a href="?c=i&a=vip">企业付费版</a></li--></ul>
<p class="copyright">COPYRIGHT © 2015 {$Think.config.site_name}&nbsp;<a href="http://www.miibeian.gov.cn/default.htm" target="_blank">{$Think.config.ipc}</a></p>
</div>
{$Think.config.cnzz}




