.shortcut{position:fixed;height:250px;right:21px;bottom:100px;z-index:1000;}
.shortcut li,.shortcut .shortcut-box .shortcut-item-pic,.shortcut .shortcut-arrow,.shortcut .notice .notice-icon .notice-icon-i{background-image:url(../images/shortcut.png);background-repeat:no-repeat;}
.shortcut li{display:block;cursor:pointer;width:60px;height:60px;text-align:center;margin-top:-1px;}
.shortcut .shortcut-inner{display:none;left:-242px;padding-right:20px;position:absolute;width:242px;}
.shortcut .shortcut-box{background:none repeat scroll 0 0 #fff;border:1px solid #e0e0e0;padding:15px 0;position:relative;width:222px;display:block;clear:both;zoom:1;}
.shortcut .shortcut-box:after{clear:both;content:" ";display:block;font-size:0;height:0;}
.shortcut .shortcut-box .shortcut-tel{color:#ff6b37;font-size:15px;margin-top:8px;}
.shortcut .shortcut-box .shortcut-item{border-right:1px solid #e0e0e0;color:#888;float:left;padding:0 20px;text-align:center;width:110px;}
.shortcut .shortcut-box .shortcut-item a{color:#888888;font-size:12px;outline:none;}
.shortcut .shortcut-box .shortcut-item-title{color:#666;margin-bottom:8px;font-weight:normal;}
.shortcut .shortcut-box .shortcut-item-pic{width:70px;height:70px;}
.shortcut .shortcut-box .jszc,.shortcut .shortcut-box .weibo{border:0 none;}
.shortcut .shortcut-box .weixin .shortcut-item-pic{background-position:-60px 0;}
.shortcut .shortcut-box .weibo .shortcut-item-pic{background-position:-130px 0;}
.shortcut .shortcut-box .cpzx .shortcut-item-pic{background-position:-60px -70px;}
.shortcut .shortcut-box .jszc .shortcut-item-pic{background-position:-130px -70px;}
.shortcut .shortcut-text{position:absolute;display:block;color:#fff;font-size:14px;font-weight:normal;padding:7px 10px;cursor:pointer;visibility:hidden;}
.shortcut .shortcut-arrow{position:absolute;width:12px;height:15px;right:-9px;top:10px;background-position:-122px -140px;}
.shortcut li:hover{background:#2d2c34;border-color:#2d2c34}
.shortcut li:hover .shortcut-text,.shortcut li.active .shortcut-text{visibility:visible;}
.shortcut li:hover .shortcut-inner,.shortcut li.active .shortcut-inner{display:block}
.shortcut li.dl{background-position:0 0}
.shortcut li:hover.dl{background:#ff5b21;}
.shortcut li.focus{background-position:0 -59px}
.shortcut li:hover.focus{background:#3dbfb6;}
.shortcut li.notice{background-position:0 -118px}
.shortcut li:hover.notice,.shortcut li.active.notice{background:#ffc300;}
.shortcut li.contact{background-position:0 -177px}
.shortcut li:hover.contact{background:#67c400;}
.shortcut li.gotop{background-position:0 -236px;}
.shortcut li:hover.gotop{background:#788a64;}
.shortcut .notice .shortcut-inner{width:552px;height:170px;left:-552px;top:120px;cursor:default;}
.shortcut .notice .shortcut-inner .shortcut-box{width:533px;height:100%;background:#fff;border:0 none;padding:0;}
.shortcut .notice .notice-icon{position:relative;float:left;width:170px;height:100%;background:#ffc300;border:1px solid #ececec;}
.shortcut .notice .notice-icon .notice-icon-i{z-index:4;width:62px;height:67px;position:absolute;background-position:-60px -140px;left:50%;margin-left:-31px;top:50%;margin-top:-33.5px;animation:shake 2s linear infinite;-moz-animation:shake 2s linear infinite;-webkit-animation:shake 2s linear infinite;-o-animation:shake 2s linear infinite;}
.shortcut .notice .notice-icon .notice-icon-round{z-index:3;width:94px;height:94px;border-radius:47px;position:absolute;left:50%;margin-left:-47px;top:50%;margin-top:-47px;background:#fff;}
.shortcut .notice .notice-icon .notice-icon-shadow{z-index:2;width:94px;height:94px;border-radius:47px;position:absolute;left:50%;margin-left:-47px;top:50%;margin-top:-47px;animation:aperture 1.2s linear infinite;-moz-animation:aperture 1.2s linear infinite;-webkit-animation:aperture 1.2s linear infinite;-o-animation:aperture 1.2s linear infinite;background:#fff;opacity:.2;}
.shortcut .notice .notice-text{width:360px;height:100%;background:#fff;display:block;float:left;border:1px solid #ececec;border-left:0 none;color:#666666;font-size:12px;text-align:left;}
.shortcut .notice .notice-text h3{font-size:18px;color:#ff5b21;margin:18px;}
.shortcut .notice .notice-text p{font-size:12px;color:#666;line-height:20px;margin:0 18px;}