
                    .yunwang-metinfo .yunbranchmap{ margin:30px auto; border-radius: 6px;}

                    .yunwang-metinfo .yunbranchmap .panel-heading{padding: 5px 10px;}
                    .yunwang-metinfo .yunbranchmap .mapinputselect .control-label:nth-child(5){margin-left: 30px;}

                    .yunwang-metinfo .yunbranchmap .namelist{padding-right: 0px; padding-left: 0px;}
                    .yunwang-metinfo .yunbranchmap .namelist .listgroup{height: 520px; overflow-y: auto; padding: 0px 15px;}
                    .yunwang-metinfo .yunbranchmap .panel{margin-bottom: 0px;}

                    .yunwang-metinfo .yunbranchmap #allmap{width:100%;height:520px; background: none;}
                    .yunwang-metinfo .yunbranchmap #allmap p{margin: 0 0 2px;}
                    .yunwang-metinfo .yunbranchmap .BMap_pop div:nth-child(1) div:nth-child(1){border-radius:6px 0 0 0;}
                    .yunwang-metinfo .yunbranchmap .BMap_pop div:nth-child(3) div:nth-child(1){border-radius:0 6px 0 0;}
                    .yunwang-metinfo .yunbranchmap .BMap_pop div:nth-child(5) div:nth-child(1){border-radius:0 0 0 6px;}
                    .yunwang-metinfo .yunbranchmap .BMap_pop div:nth-child(7) div:nth-child(1){border-radius:0 0 6px 0;}
                