
  <include file="Public:head" />

  
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->   
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER -->   
						<h3 class="page-title">
	<eq name="user[userid_int]" value="0"> 系统素材编辑<small>   Template editing system</small><else/>用户素材编辑 <small>   Edit user case</small></eq> 
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>

								<a href="index.html">首页</a> 

								<span class="icon-angle-right"></span>

							</li>

							<li>

								<a href="#">添加系统素材</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="#"> <eq name="user[userid_int]" value="0"> 系统素材添加<else/>用户素材添加 </eq> </a></li>

						</ul>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

		  <div class="tabbable tabbable-custom tabbable-full-width">
							<ul class="nav nav-tabs">
                               <li class="">
                               
      <a class="button2" href='?c=File&filetype={$fnid}' style='margin-bottom: 2px;'>系统 <if condition="$fnid eq '1'">图片<elseif condition="$fnid eq 2"/>音乐 
 <else /> 背景</if>列表</a>                          

            </li>
                <li class="<eq name="user[userid_int]" value="0"> active<else/>active </eq> "> 
                <a href="">    添加 <php>if($fnid ==1):</php>图片<php>elseif($fnid ==2): </php>音乐 
<php>else: </php>背景
<php>endif;</php>素材</a> </li>
							</ul>
                            <hr>
                </div>
							
                            
                            
        <div class="portlet-body form">
       <form action="" method="post" enctype="multipart/form-data"  class="form-horizontal">
       
            <if condition="$fnid eq '2'">
            
            
               <div class="control-group">
													<label class="control-label">音乐预览</label>
													<div class="controls">
                  <audio controls id="photo2_src"><source  src="" type="audio/mpeg">你的浏览器不支持在线.</audio>
                  <span class="help-inline"></span>
													</div> </div>   
                  
                  
                  
                  
         <div class="control-group">
                    <label class="control-label">文件上传</label>
										<div class="controls">
											<div class="fileupload fileupload-new" data-provides="fileupload">
                                            <input type="hidden" id="filesrc_varchar" name="filesrc_varchar">
												<div class="input-append">
													<div class="uneditable-input">
														<i class="icon-file fileupload-exists"></i> 
														<span class="fileupload-preview"></span>
													</div>
													<span class="btn btn-file">
													<span class="fileupload-new">选择歌曲</span>
													<span class="fileupload-exists">重来</span>
													  <input type='file'  name='photo2' id='photo2' class="default"> 
													</span>
<span class="help-inline">请上传MP3格式文件，不超过3M</span>
													<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">放弃</a>
												</div>
											</div>
										</div>

									</div>
                    <else/>
                                       <div class="control-group">
                                       
                                        <label class="control-label">素材上传</label>
										<div class="controls">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail" >
													<img src="/Public/media/image/jia_thum.jpg" alt="" style="max-height: 160px; line-height: 20px;">
												</div>
			<div class="fileupload-preview fileupload-exists thumbnail" style="max-height: 220px; line-height: 20px;"></div>
<div>

													<span class="btn btn-file"><span class="fileupload-new">上传图片</span>
													<span class="fileupload-exists">改变</span>
                                                    <input type='file'  name='photo2' class="default"> 
												</span>
													<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
											  </div></div></div>
                                                
                                       <div class="control-group">
													<label class="control-label">选择分类</label>
													<div class="controls">
 <select name="dtagid" id="dtagid" class="m-wrap" style="width:120px"></select>-<select name="tagid" id="tagid" class="m-wrap" style="width:120px"></select>
														<span class="help-inline"></span>
													</div>
                                                    
                                                    
                                                    
                                                    

		 </div>         
                                                
                                                
                      
                    
       
       </if> 
       
       
        <div class="form-actions">
                <span id="Span1" class="btn btn_primary btn_input">
                  	<button type="submit" class="btn blue">确定提交</button>
										<button type="button" class="btn">放弃</button>    </span>
          </div>
        </div>
        </form>
    </div>
    
        </div>    </div>
    
    
    
      


   
    
<include file="Public:foot" /> 
  <script type="text/javascript">
   function checkForm(){
	   if($('#title').val()==''){
		   alert('文件名不能为空');
		 return false;  
		 }
		 return true;
	}
   $(document).ready(function(){
   	var id={$fnid};
   	if(id ==0){var type='tpType'}
   	if(id ==1){var type='tpType'}
   	if(id ==2){var type=''}
    if(type != ''){
   $.ajax({
   	url:"adminc.php?c=upfile&a=systag",
   	type:"get",
   	data:{type:type},
     dataType: 'json',
    async : true,
	success:function(data){
		$.each(data.list, function(value,name){
        var html="<option value="+name.value+">"+name.name+"</option>";
        $('#dtagid').append(html); 
		})
   }	
   });}
$("#dtagid").change(function(){
    var biztype = $("#dtagid").val();
    $("#tagid").empty();
    if(biztype != ''){
   $.ajax({
   	url:"adminc.php?c=upfile&a=systag&type=11",
   	type:"get",
   	data:{bizType:biztype},
     dataType: 'json',
    async : true,
	success:function(data){
		$.each(data.list, function(value,name){
        var html="<option value="+name.id+">"+name.name+"</option>";
     $('#tagid').append(html); 
        
		})
   }	
   });
    }
    });
   });
  </script>
 


