<include file="Public:head"/>
<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">

							系统管理 <small>    System management</small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">首页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">系统管理</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">在线升级</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER--
                
                
                <div class="tabbable tabbable-custom tabbable-full-width">

							<ul class="nav nav-tabs">

				<li class="{$ui.sys_set}"><a href="{:U('sys/set')}">网站设置</a></li>
				<li class="{$ui.sys_setmail}"><a href="{:U('sys/setmail')}">邮件服务器设置</a></li>
				<li class="{$ui.sys_wxapi}"><a href="{:U('sys/wxapi')}">SDK分享配置</a></li>
		        <li class="{$ui.Update}"> <a href="{:U('/Update')}"> 在线更新</a> </li>
                <li class="{$ui.Database}"> <a href="{:U('/Database/index/type/export')}"> 数据备份</a> </li>
                       
							</ul>
                            <hr>
                
                </div>
                
				<!-- BEGIN PAGE CONTENT-->          

				<div class="row-fluid">

					<div class="span12 ">
						<div class=" details">
   {$updatenowinfo}
   
   {$ver}
    </div>
</div>

</div>

		<div class="well">
<center><div style=line-height:21px>资源提供：<a href=                     target=_blank><font color=red>搜虎精品社区</font></a>
<br>&nbsp;
<a href=                     target=_blank>搜虎精品社区</a> | <a href=                     target=_blank>极品商业源码</a> | <a href=                     target=_blank>搜虎精品社区空间、域名</a> | <a href=                    /templates/Korea/ target=_blank>90G韩国豪华商业模版</a> | <a href=                       target=_blank>站长工具箱</a>
<br>
更多精品商业资源，就在<a href=                     target=_blank>搜虎精品社区</a></font>
</div></center>

	</div>


						</div>
                        
                        
                        
					

					</div>

				</div>

				<!-- END PAGE CONTENT-->

			</div>
            
            <include file="Public:foot"/>