<include file="Public:head"/>
 
<div class="container-fluid">
        
        <div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">系统管理 <small>    System management</small></h3>

						<ul class="breadcrumb">
							<li><i class="icon-home"></i><a href="index.html">首页</a> 
								<i class="icon-angle-right"></i></li>

							<li><a href="#">系统管理</a><i class="icon-angle-right"></i></li>
							<li><a href="#">相关状态场景设置</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
                
               <div class="tabbable tabbable-custom tabbable-full-width">
							<ul class="nav nav-tabs">
						<include file="Sys:_menu"/>
							</ul>
                            <hr>
                </div>
          			<!-- BEGIN PAGE CONTENT-->          
				<div class="row-fluid">
					<div class="span12 ">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet-body">      
                            <p>状态的相关场景地址</p>
       <form action="" method="post">
        
            <hr style="width: 50%; size: 1px; border: none;" />
            <table style="vertical-align: top;">
                
       <tr> 
      <td  height="48" align="right"><strong>关闭了的场景：</strong></td>
      <td><input type="text" name="sys_link_arr[close]" value="{$Think.config.sys_link_arr.close}" class="ipt" size="45" /><span>&nbsp;&nbsp;例:http://test.souho.net/v-U60606SS356  </span>
    </tr> 
   
    <tr> 
      <td  height="48" align="right"><strong>正在审核的场景：</strong></td>
      <td><input type="text" name="sys_link_arr[noshenhe]" value="{$Think.config.sys_link_arr.noshenhe}" class="ipt" size="45" /><span>&nbsp;&nbsp;例:http://test.souho.net/v-U60606SS356  </span>
    </tr> 
           <tr> 
      <td  height="48" align="right"><strong>地址失效的场景：</strong></td>
      <td><input type="text" name="sys_link_arr[visit_invalid]" value="{$Think.config.sys_link_arr.visit_invalid}" class="ipt" size="45" /><span>&nbsp;&nbsp;例:http://test.souho.net/v-U60606SS356  </span>
    </tr> 
     
            </table>
         
       
       <div class="form-actions">
<input type="hidden" name="files" value="info.php" /> 
													<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>

													<button type="button" class="btn">放弃</button>

												</div>
        </form>
        
          
    </div>
 
     </div>
        </div>
 
 <script type="text/javascript">
  $(function(){
    $('input[name="pay_type"]').on('click',function(){
	 // alert($(this).val());
	   $('#table1').hide(); $('#table2').hide();
	  $('#table'+$(this).val()).show();
	});	 
	
	 if($('input[name="pay_type"]')==2){
		 $('#table1').hide(); $('#table2').show();
	}
 });
 </script>

 
  <include file="Public:foot"/>
