<include file="Public:head"/>
<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">系统管理 <small>    System management</small></h3>

						<ul class="breadcrumb">
							<li><i class="icon-home"></i><a href="index.html">首页</a> 
								<i class="icon-angle-right"></i></li>

							<li><a href="#">系统管理</a><i class="icon-angle-right"></i></li>
							<li><a href="#">SDK分享配置</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>

				<!-- END PAGE HEADER-->
                <div class="tabbable tabbable-custom tabbable-full-width">
							<ul class="nav nav-tabs">
			<include file="Sys:_menu"/>
							</ul>
                            <hr>
                </div>
				<!-- BEGIN PAGE CONTENT-->          
				<div class="row-fluid">
					<div class="span12 ">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet-body">
       <form action="" method="post" class="form-horizontal">
       
       
       <div class="alert alert-info">

									<button class="close" data-dismiss="alert"></button>

									<h4>温馨提示：</h4> 
                                    <p>请在自己的<a href="http://mp.weixin.qq.com">微信公众平台</a>取开发者ID:<strong>AppID(应用ID)</strong>、<strong>AppSecret(应用密钥)</strong><a href="http://mp.weixin.qq.com" target="_blank">点击进入微信公众平台</a> </br>切记在微信官网设置好安全域名</p> 

								</div>
       
     
            <table style="vertical-align: top;">
   
	<tr> 
      <td  height="48" align="right"><strong>AppID(应用ID)：</strong></td>
      <td><input type="text" name="site_appId" value="{$Think.config.site_appId}" class="ipt" size="45" /><span>&nbsp;&nbsp;例:wx8dfa28e1ssaef9e4 </span>
    </tr> 
	 <tr> 
      <td  height="48" align="right"><strong>AppSecret(应用密钥)：</strong></td>
      <td><input type="text" name="site_appSecret" value="{$Think.config.site_appSecret}" class="ipt" size="45" /><span>&nbsp;&nbsp;例:8d7c50865a53d41d38dc61af0f258f03</span>
    </tr>
            </table>
       <div class="form-actions">
                    <input type="hidden" name="files" value="info.php" /> 
                	<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>

													<button type="button" class="btn">放弃</button>
            </div>
        </div>
        </form>
        
    </div> </div> </div> </div>
 


  <include file="Public:foot"/>
