/* CSS Document 2015-7-4*/
.creat_head .creat_head_con ul .lycc span {
background: url(images/creat_edit/icon_09ly.png) center -2px no-repeat;
background-size: 24px 17px;
}
.creat_head .creat_head_con ul .lycc span:hover{
	background: url(images/creat_edit/icon_09ly_hover.png) center -2px no-repeat;
background-size: 24px 17px;
}
.creat_head .creat_head_con ul .mapcc span {
background: url(images/ditu.png) center -2px no-repeat;
background-size: 24px 24px;
}
.creat_head .creat_head_con ul .mapcc span:hover{
	background: url(images/ditu_hover.png) center -2px no-repeat;
background-size: 24px 24px;
}
.creat_head .creat_head_con ul .mapcc span {
display: block;
padding-top: 3px;
font-size: 10px;
height: 50px;
overflow: hidden;}
.creat_head .creat_head_con ul .lycc span {
display: block;
padding-top: 4px;
font-size: 10px;
height: 50px;
overflow: hidden;}
.creat_head .creat_head_con ul .lycc,.creat_head .creat_head_con ul .mapcc {
cursor: pointer;
float: left;
color: #FFF;
width: 60px;
text-align: center;
height: 50px;
line-height: 50px;
}
.creat_head .creat_head_con .creat_con { 
width: 660px; 
}
[ctype=m] .map_area .after {
-webkit-border-radius: 50%;
border-radius: 50%;
height: 20px;
width: 40px;
position: absolute;
left: 50%;
top: 67%;
margin-left: -20px;
margin-top: -10px;
-webkit-animation: pulsate 1s ease-out;
-moz-animation: pulsate 1s ease-out;
-o-animation: pulsate 1s ease-out;
-ms-animation: pulsate 1s ease-out;
animation: pulsate 1s ease-out;
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
-ms-animation-iteration-count: infinite;
animation-iteration-count: infinite;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-webkit-box-shadow: 0 0 1px 2px #89849b;
box-shadow: 0 0 1px 2px #89849b;
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
-o-animation-delay: 1.1s;
-ms-animation-delay: 1.1s;
animation-delay: 1.1s;
}
.nr .edit_area>li * {
box-sizing: border-box;
-moz-box-sizing: border-box;
}
.nr .element-box .lottery_area, .nr .element-box .map_area {
background-repeat: no-repeat;
background-size: 100% 100%;
display: block;}
.nr .element-box .map_area {
background-image: url(/assets/images/map.png);
width: 48px;
height: 48px;
}
.case_img .sample_erwei a {
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-indent: -9999px;
}
.case_img ul li {
float: left;
padding-left: 20px;
margin-bottom: 20px;
position: relative;
}
.bg_console .img_list .img-mask .del-file {
left: 45px;
}
.bg_console .img_list .img-mask .sel-file {
left: 60px;
}

 .mytplcate .group-panel {
position: absolute;
text-align: center;
padding: 5px;
border: 1px solid #ccc;
z-index: 10;
background-color: #fff;
width: 140px;
top: 20px;
right: -80px;
}
 .mytplcate .group-panel li:last-child {
border-bottom: none;
}
.mytplcate .group-panel li{border-bottom: 1px solid #ccc;
padding: 8px 0;
width: 100%;
cursor: pointer;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.bg_console .img_list .img-mask .editmypic img{ height:22px;top: 7px;left: 10px;}
.bg_console .img_list .img-mask .del-file {
left: 45px;
}
.bg_console .img_list .img-mask .sel-file {
left: 60px;
}