<body>
<form id='alipaysubmit' name='alipaysubmit' action='https://mapi.alipay.com/gateway.do?_input_charset=utf-8' method='get'>
<input type='hidden' name='_input_charset' value='utf-8'/>
<input type='hidden' name='body' value='充值秀点(49点)'/>
<input type='hidden' name='exter_invoke_ip' value='127.0.0.1'/>
<input type='hidden' name='notify_url' value='http://localhost/notify.php'/>
<input type='hidden' name='out_trade_no' value='US201507150107587'/>
<input type='hidden' name='partner' value='2088712861946736'/>
<input type='hidden' name='payment_type' value='1'/>
<input type='hidden' name='return_url' value='http://ex.localhost.cn/respond.php'/>
<input type='hidden' name='seller_email' value='utiannet@163.com'/>
<input type='hidden' name='service' value='create_direct_pay_by_user'/>
<input type='hidden' name='subject' value='测试点卡商品'/>
<input type='hidden' name='total_fee' value='0.1'/>
<input type='hidden' name='sign' value='485ad0dd9f9db4af6b5a9d729bdd348f'/>
<input type='hidden' name='sign_type' value='MD5'/><script>document.forms['alipaysubmit'].submit();</script>
</body>